body {
    background-color: black;
    margin-left: 30px;
    margin-right: 40px;
    margin-top: 50px;
}

img {
   float: left;
}

p {
    float: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    color: white;
}
h2 {
    color: white;
}
#demo {
    color: white;
    float: left;
}

li {
    color: red;
    margin-left: 40px;
}